*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* box-sizing: border-box; */
}

#wrap {
  width: 62.5%; /* 960px */
  height: 500px;
  margin: 0 auto;
}

#wrap div {
  width: 31.25%;
  display: inline-block;
}

#wrap div:first-child {
  padding: 50px 5.208333333333334%;
  background: #1f5a8b;
}

#wrap div:first-child + div {
  padding: 130px 13.541666666666666%;
  background: #f7e041;
}