*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

#wrap {
  width: 62.5%;
  height: 500px;
  margin: 0 auto;
}

#wrap p {
  width: 52.083333333333336%;
  padding: 50px 5.208333333333334%;
  margin: 0 auto;
  background: #f7e041;
}